@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --color-dark_bg: #1f2128;
  --color-primary_color: #f1f1f1;
  --color-brand_color: #7364db;
  --color-secondary_color: #7e7e8f;
}

body {
  background: #000;
  font-family: "Poppins", sans-serif;
}

.sidebarscroll .no-scrollbar::-webkit-scrollbar {
  display: none;
}
@utility add {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.08);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  @apply px-2 py-1.5;
}
